@charset 'utf-8';

html {
  margin-bottom: 0;
}
body {
  background: url(../img/p8142.jpg) no-repeat center/cover;
  object-fit: cover;
  height: 100vh;
  font-family: 'Yomogi', cursive;
  margin-bottom: 0;
  background-color: #ffc0cb66;
}

#btn {
  font-family: 'Righteous', cursive;
}

h1 {
  font-family: 'Palette Mosaic', cursive;
  text-transform: uppercase;
  color: #e91e6366;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 3rem;
  opacity: .5;
}

#btn {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40vh;
  width: 100%;
  text-align: center;
  line-height: 220px;
  font-size: 2rem;
  font-weight: bold;
  color: #009688a6;
  opacity: .5;
}

.msg {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 40px;
  text-transform: uppercase;
  margin-top: 50px;
  line-height: 1.5;
  color: #e91e6366;
}
.msg::after {
  content: url(../img/cat.png);
  margin-left: 3px;
  margin-top: 10px;
}

img {
  display: none;
}

@media (min-width:600px) {
  #btn {
    background-color: #fff;
    opacity: .5;
    width: 300px;
    left: 100px;
    bottom: 10px;
    border-radius: 50%;
    line-height: 300px;
  }
  .msg::after {
    display: none;
  }
  img {
    display: block;
    position: absolute;
    left: 240px;
    top: 0;
    width: 10%;
  }
}
